<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body style="font-family: 'Quicksand', sans-serif;">
    <div style="margin: 50px auto; padding: 15px; width: 90%; border: 2px #954580 solid; border-radius: 20px; ">
        <div class="logo" style="display: flex;justify-content: center;background-color: #fff;width: 90%;margin: 0 auto;">
            <img src="https://res.cloudinary.com/dtb1fvbps/image/upload/v1686498754/Group_481405_504aff9a69.png" style="margin: 0 auto; width: 80px;">
        </div>
        <div style="text-align: center; margin: 10px auto;">
            <div class="illustration" style="width: 210px;margin: 10px auto; margin-bottom: 40px">
                <img class="illustration-image" src="https://res.cloudinary.com/dtb1fvbps/image/upload/v1686498028/Group_481407_440eb5e1ea.png" style="width: 210px;">
            </div>
            <div class="header-text" style="margin-top: 10px; margin: 10px auto;">
                <div id="greeting-text">
                    <p id="greeting-text-first" style="text-align:center;margin: 0;font-family: 'Quicksand';font-weight: 600;font-size: 35px;text-transform: uppercase;">Dziękujemy</p>
                    <p id="greeting-text-second" style="text-align: center; text-transform: uppercase; margin: 0;font-family: 'Quicksand';font-weight: 400;font-size: 20px;"> za udział w naszym Webinarze!</p>
                </div>
                <div>
                    <p style="text-transform: uppercase; font-size: 24px; font-weight: 400;text-align: center; ">Twój certyfikat ukończenia kursu</p>
                    <p style="color: #9E0B78; font-size: 26px; text-transform: uppercase; text-align: center;" >"{{courseName}}"</p>
                </div>
                <div class="separator" style="margin: 20px auto;width: 40px;height: 5px;background-color: #9E0B78;"></div>
                <div>
                    <p style="text-transform: uppercase; text-align: center; font-size: 30px; font-weight: 600;">jest gotowy do pobrania!</p>
                    <p style="text-align: center; font-size: 24px; font-weight: 300;">Mamy nadzieje, że będziesz mieć okazję do wykorzystania zdobytej wiedzy</p>
                </div>
                <div style="border-radius: 5px;margin: 0 auto; background-color: #0072b1; width: 185px; height: 40px;text-align: center; line-height: 20px; font-size: 16px;" >
                    <p style="padding-left: 8px; padding-right: 5px; font-size: 24px; color: #fff;font-weight: 800; display: inline; line-height: 40px; width: 15px; ">
                        in
                    </p>
                    <a style="height: 40px; border-left: 1px solid #fff; padding-left: 10px; font-size: 16px; color: #fff; text-decoration: none;" href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name={{courseName}}&organizationId=117820017&issueYear={{issueYear}}&
                        issueMonth={{issueMonth}}&expirationYear=2025&expirationMonth=12&&certUrl={{certUrl}}&certId={{certId}}">Add to LinkedIn</a>
                </div>
            </div>
        </div>
        <footer style="width: 80%;margin: 20px auto;">
            <p class="text-bold-uppercase" style="font-family: 'Quicksand';font-style: normal;font-weight: 700;font-size: 16px;text-align: center;text-transform: uppercase;color: #303030;">www.szkolenia-ricg.eu</p>
        </footer>
    </div>
</body>
</html>